.hero {
    @include container-item-properties;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding-top: 175px;
    padding-bottom: 350px;
    padding-left: 10%;

    &__title {
        font-family: $font_family_primairy;
        display: flex;
        flex-flow: wrap;
        flex-direction: column;
        h1 {
            color: black;
            max-width: 720px;
            font-size: $spacing--unit*8;
            font-weight: 900;
            @include smaller-than-tablet { font-size: $font_size_large; }
        }
        h2 {
            color: white;
            max-width: 720px;
            font-size: $spacing--unit*8;
            font-weight: 900;
            @include smaller-than-tablet { font-size: $font_size_large; }
        }
    }

    &__title-text {
        background-color: #ffff00;
        padding: 15px;
        max-width: 500px;
    }


    &__link {
        margin-top: 30px;
        display: none;
        align-items: center;
        border: none;
        font-size: 24px;
        padding: 13px 22px;
        border-radius: 10px;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        color: white;
        width: fit-content;
        background-color: black;
    }
}